.page {
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 100%;
    max-width: 380px;
    padding: 0 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .titleWrap {
    text-align: center;
    margin-top: 87px;
    font-size: 26px;
    font-weight: bold;
    color: #262626;
    font-family: 'Korean-Font-bold';
  }
  
  .contentWrap {
    margin: 16px 0 0 0;
    font-family: 'Korean-Font';
  }

  .findWrap {
    display: flex;
    position: relative;
    left: 0;
    width: 100%;
    height: 42px;
    padding: 8px 0 18px 0;
    font-size: 13px;
    gap: 5px;
    font-family: 'Korean-Font';
  }
  
  .inputTitle {
    font-size: 12px;
    font-weight: 600;
    color: #262626;
  }
  
  .inputWrap {
    display: flex;
    border-radius: 8px;
    height: 16px;
    padding: 16px;
    margin-top: 8px;
    align-items: center;
    background-color: white;
    border: 1px solid #e2e0e0;
    font-family: 'Korean-Font';
  }
  .inputWrap:focus-within {
      border: 1px solid #36BC9B ;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: none;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
  }
  
  .input::placeholder {
    color: #dadada;
  }
  
  .loginButton {
    width: 100%;
    height: 48px;
    border: none;
    font-weight: bold;
    border-radius: 16px;
    background-color: #36BC9B ;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .loginButton:disabled {
    background-color: #dadada;
    color: white;
  }

  .signUpButton {
    width: 100%;
    height: 48px;
    border: solid 1px;
    font-weight: bold;
    border-radius: 16px;
    background-color: white;
    color: #36BC9B;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .errorMessageWrap {
    margin-top: 8px;
    color: #ef0000;
    font-size: 12px;
  }