@font-face {
  font-family: 'English-Font';  
  src: url('/public/assets/Gilroy-ExtraBold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Korean-Font';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalLight.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Korean-Font-bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


.link-to{
  color: black;
  text-decoration: none;
}